%footer.branding
  - if @page
    - if @page.metadata('author')
      %span.author
        %a(href="#{author_url(@page.metadata('author'))}")
          = @page.metadata('author')
    - if @page.date
      %span.date
        on
        = format_date(@page.date)
      %span.eta= reading_time(@page.body_markup)
  .contentfocus
    %a(href="https://contentfocus.io/?utm_source=#{site_domain}&utm_medium=footer")
      %span.powered-by Powered by
      %span.contentfocus ContentFocus.io
  - if ENV["ADDTHIS_PUB_ID"]
    .addthis_sharing_toolbox
  - unless @page.nil? || @page.categories.empty?
    %span.categories
      %span.read-more Read more in&nbsp;
      - @page.categories.each do |category|
        %span.category>
          %a{ :href => category.abspath }>= category.heading
