//= require jquery-2.1.4.min
//= require syntax_highlight
//= require menu
//= require header_reference_links
//= require scroll
<% if ENV['SEGMENT_WRITE_KEY'] %>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
  analytics.load("<%=ENV['SEGMENT_WRITE_KEY']%>");
  analytics.page()
  }}();
<% end %>
<% if ENV['GOOGLE_ANALYTICS_PROFILE_ID'] %>
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  try {
    var pageTracker = _gat._getTracker("#<%=ENV['GOOGLE_ANALYTICS_PROFILE_ID']%>");
    pageTracker._trackPageview();
  } catch(err) {}
<% end %>
<% if ENV['SWIFTYPE_KEY'] %>
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
  _st('install','<%=ENV['SWIFTYPE_KEY']%>','2.0.0');
<% end %>
<% if ENV['SUMOME_SITE_ID'] %>
  jQuery(document).ready(function() {
    jQuery('body').append('<script src="//load.sumome.com/" data-sumo-site-id="<%=ENV['SUMOME_SITE_ID']%>" async="async"></script>");
  });
<% end %>
<% if ENV['FACEBOOK_APP_ID'] %>
  jQuery(document).ready(function() {
    jQuery('body').append('<div id="fb-root"></div>');
    (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=<%=ENV['FACEBOOK_APP_ID']%>";
     fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  });
<% end %>
