<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title= @title
    = haml :stylesheets, layout: false
    = haml :javascripts, layout: false
    = haml :fonts, layout: false
    = haml :default_head, layout: false
    - if @page && @page.canonical_url
      %link{ rel:"canonical", href: @page.canonical_url }
  %body
    .container
      = yield
    = haml :footer_scripts, layout: false
