<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= @title
    %link(rel="stylesheet" type="text/css" href="#{path_to("assets/median/median.css")}")
    %script(type="text/javascript" src="#{path_to("/assets/media/median.js")}")
    = haml :fonts, layout: false
    = haml :default_head, layout: false
  %body
    .container
      = yield
    = haml :footer_scripts, layout: false
