<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= @title
    %link(rel="stylesheet" type="text/css" href="#{path_to("css/median/median.css")}")
    %script(type="text/javascript" src="/assets/median.js")
    = haml :fonts, layout: false
    = haml :default_head, layout: false
  %body
    .container
      = yield
    %script(type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js")
    = haml :social_scripts, layout: false
    = haml :footer_scripts, layout: false
