- if page.date
  %footer
    .meta
      %span.more
        %a(href="#{url(page.abspath)}")= page.read_more
      - if (! page.categories.empty?)
        %span.categories
          In
          - page.categories.each do |category|
            - if category != page.categories[-1]
              = succeed ',' do
                %a(href="#{url(category.abspath)}")= category.link_text
            - else
              %a(href="#{url(category.abspath)}")= category.link_text
      %span.eta
        = reading_time(page.body_markup)
        read
      - if page.metadata('author')
        %span.author
          by
          %a(href="#{author_url(page.metadata('author'))}")
            = page.metadata('author')
      - if page.date
        %span.date
          on
          %time(datetime="#{page.date.to_s}" pubdate=true)= format_date(page.date)

